# Environnement virtuel
venv/
env/

# Python
__pycache__/
*.pyc

# Django
db.sqlite3
media/

# Variables d'environnement
.env

# VS Code
.vscode/

# Migrations (optionnel sauf __init__)
*/migrations/*
!*/migrations/__init__.py